$primary-color: #fffffe;
$button-color: #ff8906;

.card {
  padding: 5px;
  margin-top: 10px;
}

.card-body {
  height: 350px;
  color: $primary-color;
}

.card-text {
  height: 200px;
  overflow: auto;
}

Button {
  color: $button-color;
}
